header {
  height: 50vh;
  /* padding-top: 1rem; */
  overflow: hidden;
}

h2 {
  position: relative;
  left: 46%;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* ================ CvUploader ================= */

.cv-upload {
  margin-top: 1rem;
  margin-bottom:1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ================ HeaderSocials ================= */

/* .header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
} */
/* used the after pseudo-elements */
/* .header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
} */

/* ================ imageOfMe ================= */

.imageOfMe {
  /* background:linear-gradient(var(--color-primary),transparent); */
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: calc(10% - 4rem);
  top: 10%;
  /* margin-top: 1rem; */
  /* border-radius: 12rem 12rem 0 0; */
  overflow: hidden;
  /* padding-top: 1rem; */
}
.imageOfMeSize {
  width: 90%;
  display: flex;
  position: absolute;

  /* left: 1px; */
  border-radius: 60px 60px 60px 60px;
}

/* ================ SCROLL DOWN ================= */
.scroll_down {
  /* position: absolute;
  right: -4rem;
  bottom: 3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1rem; */
 border-bottom: 1px solid ;
}

/* ============ MEDIA QUERIES(MEDIUM DEVICES) =============  */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
    position: relative;
    left: 0.5rem;
  }
}

/* ============ MEDIA QUERIES(SMALL DEVICES) =============  */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }

  .imageOfMe {
    width: 90%;
    height: 60%;
    position: relative;
    left: 0.8rem;
  }

  .imageOfMeSize {
    width: 100%;
    position: relative;
    left: 0.1rem;
  }
}
